body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #151515;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.card {
  background: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
}

.card img {
  width: 100%;
}

.card p {
  padding: 10px;
}
